
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area" style="background-image: url(~/Content/images//resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title float-left">
                        <h2>Tin tức sức khỏe</h2>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="index-2.html">Trang chủ</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start blog area-->
<section id="blog-area" class="blog-default-area">
    <div class="container">
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/v1-1.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Mẹo sức khỏe</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-1.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">Đăng bởi quản trị</a></li>
                                <li><a href="#">11-10-2022</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">Những gì bạn cần biết răng?</a></h3>
                        <div class="text-box">
                            <p>Nó không chỉ giúp bạn nhai và ăn khung thức ăn của bạnany mất răng có thể ảnh hưởng lớn đến chất lượng cuộc sống của bạn.</p>
                        </div>
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/v1-1.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Mẹo sức khỏe</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-1.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">Đăng bởi quản trị</a></li>
                                <li><a href="#">11-10-2022</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">Những gì bạn cần biết răng?</a></h3>
                        <div class="text-box">
                            <p>Nó không chỉ giúp bạn nhai và ăn khung thức ăn của bạnany mất răng có thể ảnh hưởng lớn đến chất lượng cuộc sống của bạn.</p>
                        </div>
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/v1-1.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Mẹo sức khỏe</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-1.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">Đăng bởi quản trị</a></li>
                                <li><a href="#">11-10-2022</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">Những gì bạn cần biết răng?</a></h3>
                        <div class="text-box">
                            <p>Nó không chỉ giúp bạn nhai và ăn khung thức ăn của bạnany mất răng có thể ảnh hưởng lớn đến chất lượng cuộc sống của bạn.</p>
                        </div>
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->

        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="post-pagination text-center">
                    <li class="float-left"><a class="left" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                    <li class="text-center">1 of 4</li>
                    <li class="float-right"><a class="right" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

