@{
    ViewBag.Title = "Home Page";
}

<section class="welcome-area sec-pd1">
    <div class="container">
        <div class="sec-title max-width text-center">
            <h1>Website Y Tế</h1>
            <h3>Nơi đưa đến cho bạn các dịch vụ y tế hiện tại, tin tức sức khỏe mới nhất</h3>
        </div>
        <div class="row">
            <!--Start Single Welcome Box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-welcome-box text-center">
                    <div class="icon-holder">
                        <img src="~/Content/images/icon/icon-1.png" alt="Icon">
                    </div>
                    <div class="text-holder">
                        <h3>Tin tức</h3>
                        <p>Cập nhập các tin tức mới nhất về sức khỏe, các mẹo hay để chăm sóc sức khỏe.</p>
                        <a class="btn-one" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!--End Single Welcome Box-->
            <!--Start Single Welcome Box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-welcome-box text-center">
                    <div class="icon-holder">
                        <img src="~/Content/images/icon/icon-2.png" alt="Icon">
                    </div>
                    <div class="text-holder">
                        <h3>Dịch vụ</h3>
                        <p>Cung cấp các dịch hiện đại, tiện nghi, an toàn sức khỏe và dễ dàng sử dụng với mọi người.</p>
                        <a class="btn-one" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!--End Single Welcome Box-->
            <!--Start Single Welcome Box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-welcome-box text-center">
                    <div class="icon-holder">
                        <img src="~/Content/images/icon/icon-3.png" alt="Icon">
                    </div>
                    <div class="text-holder">
                        <h3>Bác sĩ</h3>
                        <p>Hội tụ các bác sĩ chuyên khoa, kĩ năng giỏi và thân thiện hòa đồng với bệnh nhân.</p>
                        <a class="btn-one" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!--End Single Welcome Box-->
        </div>
    </div>
</section>
<!--End Welcome area-->
<!--Start fact counter area-->
<section class="fact-counter-area" style="background-image: url(~/Content/images/parallax-background/fact-counter-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <ul class="clearfix">
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="count-box">
                            <div class="icon">
                                <span class="icon-tooth-3"></span>
                            </div>
                            <h1>
                                <span class="timer" data-from="1" data-to="4257" data-speed="5000" data-refresh-interval="50">1000+</span>
                            </h1>
                            <div class="title">
                                <h3>Bệnh nhân</h3>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="600ms">
                        <div class="count-box">
                            <div class="icon">
                                <span class="icon-doctor-1"></span>
                            </div>
                            <h1>
                                <span class="timer" data-from="1" data-to="18" data-speed="5000" data-refresh-interval="50">100 +</span>
                            </h1>
                            <div class="title">
                                <h3>Bác sĩ</h3>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                    <!--Start single fact counter-->
                    <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="900ms">
                        <div class="count-box">
                            <div class="icon">
                                <span class="icon-hospital"></span>
                            </div>
                            <h1>
                                <span class="timer" data-from="1" data-to="6" data-speed="5000" data-refresh-interval="50">20 +</span>
                            </h1>
                            <div class="title">
                                <h3>Chi nhánh</h3>
                            </div>
                        </div>
                    </li>
                    <!--End single fact counter-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End fact counter area-->
<!--Start About Area-->
<!--End services style2 area-->
<!--Start Appointment Area-->
<!--End Appointment Area-->
<!--Start team area-->
<section class="team-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Top bác sĩ tốt nhất</h1>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="team-carousel owl-carousel owl-theme">

                    <!--Start single item member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="~/Content/images/team/1.jpg" alt="Awesome Image">
                            <div class="overlay-style-one"></div>
                            <div class="text-holder text-center">
                                <h3>Dr. Daryl Cornelius</h3>
                                <span>Nha khoa</span>
                                <div class="button">
                                    <a class="btn-one" href="#">Đặt Lịch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single item member-->
                    <!--Start single item member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="~/Content/images/team/2.jpg" alt="Awesome Image">
                            <div class="overlay-style-one"></div>
                            <div class="text-holder text-center">
                                <h3>Dr. Eugene Renolds</h3>
                                <span>Tim mạch</span>
                                <div class="button">
                                    <a class="btn-one" href="#">Đặt Lịch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single item member-->
                    <!--Start single item member-->
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="~/Content/images/team/3.jpg" alt="Awesome Image">
                            <div class="overlay-style-one"></div>
                            <div class="text-holder text-center">
                                <h3>Dr. Bonnie Alberta</h3>
                                <span>Da liễu</span>
                                <div class="button">
                                    <a class="btn-one" href="#">Đặt Lịch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single item member-->
                    <!--Start single item member-->
                    <!--End single item member-->

                </div>
            </div>
        </div>
    </div>
</section>
<!--End team area-->
<!--Start Work area-->
<!--End Testimonial Sec style2-->
<!--Start Warranties sec-->
<!--End Warranties sec-->
<!--Start latest blog area-->
<section class="latest-blog-area sec-pd1 pd-btm60">
    <div class="container inner-content">
        <div class="sec-title max-width text-center">
            <h1>Dịch vụ y tế</h1>
        </div>
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-1.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Healthy Teeth</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-1.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">A guide for dentists and patients</a></h3>
                        
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-2.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Technology</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-2.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">Should i go for a smile design?</a></h3>
                        
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-3.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Dental Care</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-3.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">What you need to know teeth?</a></h3>
                        
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
        </div>
    </div>
</section>
<!--End latest blog area-->
<section class="latest-blog-area sec-pd1 pd-btm60">
    <div class="container inner-content">
        <div class="sec-title max-width text-center">
            <h1>Tin tức sức khỏe</h1>
        </div>
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-1.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Healthy Teeth</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-1.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">A guide for dentists and patients</a></h3>
                       
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-2.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Technology</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-2.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">Should i go for a smile design?</a></h3>
                        
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="~/Content/images/blog/lat-blog-3.jpg" alt="Awesome Image">
                        <div class="categorie-button">
                            <a class="btn-one" href="#">Dental Care</a>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-box">
                            <div class="author-thumb">
                                <img src="~/Content/images/blog/author-3.png" alt="Image">
                            </div>
                            <ul class="meta-info">
                                <li><a href="#">By Megan Clarks</a></li>
                                <li><a href="#">Nov 14, 2018</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-single.html">What you need to know teeth?</a></h3>
                        
                          
                        <div class="readmore-button">
                            <a class="btn-two" href="#"><span class="flaticon-next"></span>Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
        </div>
    </div>
</section>
<!--Start Brand area-->
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="brand">
                    <!--Start single item-->
                    <li class="single-item">
                        <a href="#"><img src="~/Content/images/brand/1.png" alt="Awesome Brand Image"></a>
                    </li>
                    <!--End single item-->
                    <!--Start single item-->
                    <li class="single-item">
                        <a href="#"><img src="~/Content/images/brand/2.png" alt="Awesome Brand Image"></a>
                    </li>
                    <!--End single item-->
                    <!--Start single item-->
                    <li class="single-item">
                        <a href="#"><img src="~/Content/images/brand/3.png" alt="Awesome Brand Image"></a>
                    </li>
                    <!--End single item-->
                    <!--Start single item-->
                    <li class="single-item">
                        <a href="#"><img src="~/Content/images/brand/4.png" alt="Awesome Brand Image"></a>
                    </li>
                    <!--End single item-->
                </ul>
            </div>
        </div>
    </div>
</section>